/* 
	Table of Contents
	update on Wed Sep 02 2020 17:22:23 GMT+0300 (FLE Daylight Time)

	I.   Generic --------------------------------------
	     01. Reset ------------------------------------
	     02. Base -------------------------------------
	     03. Fonts ------------------------------------
	     04. Helpers ----------------------------------
	II.  Regions --------------------------------------
	     01. Footer -----------------------------------
	         Footer Bar -------------------------------
	     02. Header Bar -------------------------------
	     03. Header -----------------------------------
	     04. Intro ------------------------------------
	     05. Product Item -----------------------------
	         Product images ---------------------------
	         Product Colors ---------------------------
	         Product Sizes ----------------------------
	         Custom select counting products ----------
	         Product Features -------------------------
	         Product description and reviews ----------
	         Product Review Form ----------------------
	         Product Review Items ---------------------
	     06. Sidebar ----------------------------------
	         Filter - Price ---------------------------
	         Filter - Colors --------------------------
	     07. Wrapper ----------------------------------
	III. Modules --------------------------------------
	     01. Button -----------------------------------
	     02. Card Teaser ------------------------------
	     03. Card -------------------------------------
	     04. Cart -------------------------------------
	     05. Checkout ---------------------------------
	     06. Form Elements ----------------------------
	         Ui selectmenu outline design -------------
	     07. Form -------------------------------------
	     08. List -------------------------------------
	     09. Modal ------------------------------------
	         Modal - product size tables --------------
	     10. Navbar -----------------------------------
	         Main nav ---------------------------------
	         Main nav dropdown ------------------------
	         Right nav --------------------------------
	         Right nav - Favorite ---------------------
	         Right nav - Search -----------------------
	         Right nav - Shopping cart ----------------
	         Brand ------------------------------------
	         Shopping Cart ----------------------------
	         Main nav ---------------------------------
	         Brand ------------------------------------
	         Search -----------------------------------
	         Favorite ---------------------------------
	         Shopping Cart ----------------------------
	         Favorite ---------------------------------
	         Shopping Cart ----------------------------
	         Main nav ---------------------------------
	     11. Pagination -------------------------------
	     12. Section Favorites ------------------------
	     13. Section Teasers - contains .card-teasers -
	     14. Section ----------------------------------
	         Section New Collection -------------------
	         Section Bestsellers ----------------------
	         Category Page ----------------------------
	         Product Page -----------------------------
	     15. Slider -----------------------------------
	         Slider 5 items ---------------------------
	     16. Subscribe --------------------------------
	     17. Table ------------------------------------
	     18. Widget -----------------------------------
 */

.sprite-maestro { background-image: url(../css/images/sprite.png); background-position: 0 -46px; width: 69px; height: 42px; display: inline-block; vertical-align: middle; font-size: 0; }
.sprite-mastercard { background-image: url(../css/images/sprite.png); background-position: -101px 0; width: 69px; height: 42px; display: inline-block; vertical-align: middle; font-size: 0; }
.sprite-paypal { background-image: url(../css/images/sprite.png); background-position: 0 0; width: 97px; height: 42px; display: inline-block; vertical-align: middle; font-size: 0; }
.sprite-rs { background-image: url(../css/images/sprite.png); background-position: 0 -92px; width: 73px; height: 32px; display: inline-block; vertical-align: middle; font-size: 0; }
.sprite-visa-electron { background-image: url(../css/images/sprite.png); background-position: -101px -46px; width: 67px; height: 42px; display: inline-block; vertical-align: middle; font-size: 0; }

/* ------------------------------------------------------------ *\
	I.   Generic
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; }

details, menu { display: block; }

html,
body { height: 100%; }

html { tap-highlight-color: rgba(0,0,0,0); }

body { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }

img, iframe, video, audio, object { max-width: 100%; }
img, iframe { border: 0 none; }
img { height: auto; display: inline-block; }

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }

a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner { padding: 0; border: 0; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

textarea { -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }

button,
input,
optgroup,
select,
textarea { color: inherit; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

input:-ms-input-placeholder { color: inherit; opacity: 1; }

input::placeholder { color: inherit; opacity: 1; }
textarea:-ms-input-placeholder { color: inherit; opacity: 1; }
textarea::placeholder { color: inherit; opacity: 1; }

input:-webkit-autofill { -webkit-text-fill-color: inherit !important; -webkit-box-shadow: 0 0 0 1000px #fff inset; }

table { width: 100%; border-spacing: 0; }

nav ul,
nav ol { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { min-width: 320px; background: #f8f8f8; font-family: 'Roboto Condensed Light', sans-serif; font-size: 1rem; line-height: 1.2; color: black; }

a { color: inherit; }
a:hover { text-decoration: none; }

a[href^="tel"] { text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 0.6em; }

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }

@media (max-width: 1199px) {
	html { font-size: 14px; }
}

@media (max-width: 767px) {
	html { font-size: 12px; }
}

/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

@font-face {
    font-family: 'Roboto Condensed Light';
    src: url('../fonts/robotocondensed-light.woff2') format('woff2'),
         url('../fonts/robotocondensed-light.woff') format('woff'),
         url('../fonts/robotocondensed-light.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Regular';
    src: url('../fonts/robotocondensed-regular.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular.woff') format('woff'),
         url('../fonts/robotocondensed-regular.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url('../fonts/robotocondensed-bold.woff2') format('woff2'),
         url('../fonts/robotocondensed-bold.woff') format('woff'),
         url('../fonts/robotocondensed-bold.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

.breadcrumb { padding-right: 15px; padding-left: 15px; }

.flex-center { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.noscroll { position: relative; }
.noscroll body { position: fixed; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; }

.container-sm { max-width: 1200px; }

/* ------------------------------------------------------------ *\
	II.  Regions
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { padding: 2.5rem 0; font-size: 1.13rem; color: #5c5c5c; }
.footer-col-title { font-family: 'Roboto Condensed Regular', sans-serif; text-transform: uppercase; }

.footer .nav-link { display: inline-block; padding-right: 0; padding-left: 0; line-height: 1; }

.footer .nav-socials { font-size: 2rem; }
.footer .nav-socials .nav-item { margin-right: 8%; }

.footer .list-group-payments { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.footer .list-group-payments i + i { margin-left: .75rem; }

/*  Footer Bar  */
.footer-bar { padding: 1.5rem 0; background: #292929; color: #9b9d9f; text-align: center; }
.footer-bar .copyrights,
.footer-bar .credits { display: inline-block; margin: 0; vertical-align: middle; }
.footer-bar .credits { margin-bottom: -3px; margin-left: 3rem; }
.footer-bar .credits a { margin-left: .5rem; }

@media (max-width: 1499px) {
	.footer .list-group-payments { -ms-flex-pack: start; justify-content: flex-start; }
	.footer [class^="sprite-"] {
		zoom: .65;
	    -moz-transform:scale(.65);
	    -moz-transform-origin: 0 0;
	}
}

@media (max-width: 1199px) {
	.footer .nav-socials .nav-item { margin-right: 8%; }

	.footer [class^="sprite-"] {
		zoom: .5;
	    -moz-transform:scale(.5);
	    -moz-transform-origin: 0 0;
	}
}

@media (max-width: 991px) {
	.footer .nav-socials .nav-item { margin-right: 3%; }
	
	.footer .list-group-payments i { margin: .5rem; }
	
	.footer [class^="sprite-"] {
		zoom: .5;
	    -moz-transform:scale(.5);
	    -moz-transform-origin: 0 0;
	}
}

/* ------------------------------------------------------------ *\
	Header Bar
\* ------------------------------------------------------------ */

.header-bar { padding: .5rem 0; background: #292929; color: white; text-align: center; }
.header-bar-item { display: inline-block; margin: 0 2rem; }

@media (max-width: 575px) {
	.header-bar-item { margin: 0 .5rem; font-size: .9rem; }
}

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { margin-bottom: 1rem; border-bottom: 1px solid #5c5c5c; }

/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

@media (max-width: 767px) {
	.intro .col-sm-4 { margin-bottom: 1rem; }
}

/* ------------------------------------------------------------ *\
	Product Item
\* ------------------------------------------------------------ */

.product-item { font-size: 1.25rem; color: #5c5c5c; }

.product-title-wrapper { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; }
.product-title-wrapper .btn { margin-top: -5px; padding: 0; font-size: 1.5rem; color: #cb0c2e; }
.product-title-wrapper .btn:hover i:before { font-weight: 900; }
.product-title { margin-bottom: 0; font-family: 'Roboto Condensed Bold', sans-serif; font-size: 1.75rem; color: black; }
.product-title-black { padding: 1rem; background-color: black; color: white; font-family: 'Roboto Condensed Bold', sans-serif; }

.product-info-inner { font-size: 1.1rem; }

.product-price-wrapper { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; font-family: 'Roboto Condensed Regular', sans-serif; font-size: 1.5rem; }
.product-price-old { position: relative; font-size: 1.5rem; font-family: 'Roboto Condensed Bold', sans-serif; }
.product-price-old:after { content: ''; position: absolute; top: 50%; right: 0; left: 0; height: 2px; color: black; background: black; -ms-transform: translateY(-50%); transform: translateY(-50%); }
.product-price-promo { margin-left: 0.5rem; font-size: 2.5rem; color: #cb0c2e; font-family: 'Roboto Condensed Bold', sans-serif; }

/*  Product images  */
.product-images-wrapper { position: relative; border: 1px solid #eaeaea; }
.product-images img { width: 100%; }

.product-thumbs:not(.product-thumbs-horizontal) { position: absolute; top: 1rem; bottom: 1rem; left: 1rem; width: 15%; }
.product-thumbs:not(.product-thumbs-horizontal) .slick-slide { margin-bottom: 1rem; border: 1px solid #eaeaea; }
.product-thumbs .slick-slide:hover { cursor: pointer; }
.product-thumbs .slick-current { border-color: #9b9d9f; }
 
.product-thumbs-horizontal .slick-slide { border: 1px solid #eaeaea; }

/*  Product Colors  */
.product-colors { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; list-style: none outside none; }
.product-color { overflow: hidden; width: calc(16.66667% - 0.833333333333333rem ); margin-bottom: 1rem; border: 4px solid #eaeaea; transition: all .25s ease-in-out; }
.product-color + .product-color { margin-left: .999rem; }
.product-color a { display: block; }
.product-color img { border-radius: 50%; }
.product-color:hover,
.product-color.active { border-color: #292929; transition: all .25s ease-in-out; }

/*  Product Sizes  */
.product-size-wrapper .btn-outline-danger { background-color: #cb0c2e; color: white; }
.product-size-wrapper .btn-outline-danger:hover { background-color: white; color: #cb0c2e; }
.product-size-wrapper-head { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; }
.product-size-wrapper-head p { margin-bottom: 0; }
.product-size-wrapper-head .btn-outline-danger { border: none; }
.product-size-wrapper-head .btn-outline-danger i { margin-right: .25rem; }

.product-size-wrapper-body { margin-top: .75rem; }
.product-size-wrapper-body .btn { width: 4rem; border-color: black; color: black; }
.product-size-wrapper-body .btn + .btn { margin-left: .25rem; }
.product-size-wrapper-body .btn-outline-light:not(:disabled):not(.disabled).active { background-color: black; border-color: black; color: white; }

/*  Custom select counting products  */
.product-item .ui-selectmenu-button-outline.ui-button { height: 100%; width: 100%; margin-right: 0; padding: 1rem .625rem; }

/*  Product Features  */
.product-features { margin-top: 1rem; padding: 1rem; background: #aeaeae; }
.product-features-table { font-size: 1rem; }
.product-features-table i { margin-right: .5rem; }
.product-features-table ul { list-style-type: none; }
.product-features-table ul li + li { margin-top: 0.75rem; }

/*  Product description and reviews  */
.product-description { padding: 1rem 0; }
.product-description-body { border: 1px solid #9b9d9f; }

.product-description-body .collapse,
.product-description-body .collapse.show { padding: 1rem; }

.product-description ul { padding-left: 1.35rem; }

.product-desc { margin: 4rem 0; }

.product-desc .nav-item { margin-bottom: 0; }
.product-desc .nav-link { font-family: 'Roboto Condensed Regular', sans-serif; text-transform: uppercase; }
.product-desc .nav-link { border: none; }
.product-desc .nav-link.active { border: none; color: #cb0c2e; }

.product-desc .tab-pane { padding: 1.75rem 20%; }

/*  Product Review Form  */
.product-add-review .btn { width: 33%; }
.product-add-review .btn:hover { color: #fff; }

/*  Product Review Items  */
.product-reviews { list-style: none outside none; }
.product-reviews .fa-calendar-alt { position: relative; top: -1px; margin: 0 .25rem 0 .75rem; color: #292929; }

@media (max-width: 991px) {
	.product-title { margin-bottom: .5rem; font-size: 1.5rem; }
	.product-price-wrapper { margin-bottom: .5rem; font-size: 1.25rem; }
	.product-price-old { font-size: 1.5rem; }
	.product-price-promo { font-size: 2rem; }

	.product-desc .tab-pane { padding: 1.5rem 10%; }
}

@media (max-width: 767px) {
	.product-images-wrapper { margin-bottom: 1.5rem; }

	.product-color { width: calc(16.66667% - 0.25rem ); }
	.product-color + .product-color { margin-left: .25rem; }

	.product-features-table td:first-child { width: 130px; }
	
	.product-info .btn-add-to-card { height: 33px; }

	.product-desc .tab-pane { padding: 1.5rem 0; }

	.product-add-to-cart .btn-add-to-cart { z-index: 999; position: fixed; bottom: 0; left: 0; right: 0; font-size: 1.5rem; }
}

/* ------------------------------------------------------------ *\
	Sidebar
\* ------------------------------------------------------------ */

.sidebar.collapse:not(.show) { display: block; }
.sidebar .close { font-size: 2rem; }

.sidebar .btn { display: block; width: 100%; font-family: 'Roboto Condensed Bold', sans-serif; border: none; border-top: 1px solid #eaeaea; font-size: 1rem; text-align: left; }
.sidebar .btn:hover { color: white; }
.sidebar .btn:after { content: '-'; float: right; }
.sidebar .form [aria-expanded="false"]:after { content: '+'; }

.sidebar .custom-control-label::before,
.sidebar .custom-control-label::after { top: 0; }
.sidebar .custom-control + .custom-control { margin-top: .25rem; }
.sidebar .collapse:after,
.sidebar .collapsing:after { content: ''; display: block; padding-bottom: .75rem; }

.sidebar-filter-head { padding: 1rem; background-color: black; color: white; font-family: 'Roboto Condensed Bold', sans-serif; }
.sidebar-filter-body { padding: 1rem 0.5rem; background-color: white; border: 1px solid #eaeaea; }

/*  Filter - Price  */
.sidebar .ui-slider { height: .5rem; margin: .25rem 1.25rem 2.25rem; }
.sidebar .ui-slider-handle { height: 1rem; width: 1rem; }
.sidebar .ui-slider-handle:hover { cursor: pointer; }
.sidebar .ui-slider-handle:after { content: attr(data-price); position: absolute; top: 130%; left: 50%;  display: block; padding: .2rem .5rem; background: #eaeaea; font-family: 'Roboto Condensed Light', sans-serif; font-size: .85rem; color: #292929; line-height: 1.5; -ms-transform: translateX(-50%); transform: translateX(-50%); }

/*  Filter - Colors  */
.sidebar-filter-body.custom-colors { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.sidebar .custom-control-color { width: 16%; min-height: 0; margin-bottom: .5rem; margin-left: 0.6%; padding-left: 0; }
.sidebar .custom-control-color + .custom-control-color { margin-top: 0; }
.sidebar .custom-control-color:nth-child(7n+1) { margin-left: 0; }

.sidebar .custom-control-color .custom-control-input:checked ~ .custom-control-label div { border-color: black; }
.sidebar .custom-control-color .custom-control-label:before { display: none; }
.sidebar .custom-control-color .custom-control-label:after { left: 0; width: 1.5rem; height: 1.5rem; }
.sidebar .custom-control-color .custom-control-label div { width: 2rem; height: 2rem; border: 1px solid #9b9d9f; }

@media (max-width: 1499px) {
	.sidebar .custom-control-color .custom-control-label div,
	.sidebar .custom-control-color .custom-control-label:after { width: 18px; height: 18px; }
}

@media (max-width: 1199px) {
	.sidebar .custom-control-color .custom-control-label div,
	.sidebar .custom-control-color .custom-control-label:after { width: 14px; height: 14px; }
}

@media (max-width: 767px) {
	.sidebar.collapse:not(.show) { display: none; }

	.sidebar { position: fixed !important; top: 0 !important; right: 0 !important; bottom: 0 !important; left: 0 !important; z-index: 1799; overflow-y: auto; width: 100%; height: 100vh; padding: 1rem; background: white; font-size: 1.25rem; }

	.sidebar .custom-control-label::before,
	.sidebar .custom-control-label::after { top: 3px; }

	.sidebar .custom-control-color .custom-control-label div,
	.sidebar .custom-control-color .custom-control-label:after { width: 25px; height: 25px; }

	.sidebar .custom-control-color { width: 25px; height: 25px; margin-right: 10px; margin-bottom: 10px; }
	.sidebar .custom-control-color + .custom-control-color { margin-left: 0; }
}

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {  }

/* ------------------------------------------------------------ *\
	III. Modules
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.btn-add-to-cart { font-size: 1.25rem; }
.btn-quantity { padding: 0 0.25rem; line-height: 1.2; }

.btn-bg-white { position: absolute; left: calc(50% - 5rem); bottom: 10%; width: 10rem; padding: 0.75rem 0rem; background-color: white; color: black; font-family: 'Roboto Condensed Bold', sans-serif; font-size: 1.5rem; border: 2px solid black; }

.btn.hvr-sweep-to-right { display: inline-block; vertical-align: middle; transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); transition-property: color; transition-duration: 0.3s; }
.btn.hvr-sweep-to-right:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: black; -ms-transform: scaleX(0); transform: scaleX(0); -ms-transform-origin: 0 50%; transform-origin: 0 50%; transition-property: transform; transition-duration: 0.3s;transition-timing-function: linear; }
.btn.hvr-sweep-to-right:hover, .btn.hvr-sweep-to-right:focus, .btn.hvr-sweep-to-right:active { color: white; }

.btn.hvr-sweep-to-right:hover:before, .btn.hvr-sweep-to-right:focus:before, .btn.hvr-sweep-to-right:active:before { -ms-transform: scaleX(1); transform: scaleX(1); }

/* ------------------------------------------------------------ *\
	Card Teaser
\* ------------------------------------------------------------ */

.card-teaser { overflow: hidden; height: 100%; border: none; color: #5c5c5c; background-color: transparent; text-align: center; text-transform: uppercase; transition: all .25s ease-in-out; }
.card-teaser:hover { /*box-shadow: $shadow;*/ transition: all .25s ease-in-out; }

.card-teaser .card-heart,
.card-teaser .badge { position: absolute; top: 15px; z-index: 99; font-size: 1.5rem; }

.card-teaser .card-heart { right: 15px; padding: 0; background: none; border: none; line-height: 1; }
.card-teaser .card-heart.active,
.card-teaser .card-heart:hover { color: #cb0c2e; }
.card-teaser .card-heart.active i,
.card-teaser .card-heart:hover i { font-weight: bold; }

.card-teaser .badge { left: 15px; visibility: visible; opacity: 1; padding-top: .25rem; font-weight: normal; transition: all .25s ease-in-out; }
.card-teaser:hover .badge { visibility: hidden; opacity: 0; transition: all 0s ease-in-out; }

.card-teaser .card-title { overflow: hidden; margin-bottom: 0; padding: 0.25rem 0; font-family: 'Roboto Condensed Regular', sans-serif; color: #191919; white-space: nowrap; text-align: left; text-overflow: ellipsis; border-bottom: 1px solid #aeaeae; }

.card-teaser .card-body { padding: .25rem 0;  }
.card-teaser .card-body-inner { padding: 0.25rem 0; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; }

.card-teaser .card-price { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; font-family: 'Roboto Condensed Regular', sans-serif; font-size: 1.25rem; }
.card-teaser .card-old-price { position: relative; display: inline-block; margin-right: .5rem; font-size: 1rem; }
.card-teaser .card-old-price:after { content: ''; position: absolute; top: 50%; right: 0; left: 0; z-index: 10; height: 2px; border-top: 2px solid #9b9d9f; -ms-transform: translateY(-50%); transform: translateY(-50%); }
.card-teaser .card-promo-price { color: #cb0c2e; }

.card-teaser .card-list { font-family: 'Roboto Condensed Regular', sans-serif; list-style: none outside none; text-transform: uppercase; }
.card-teaser .card-list li { display: inline-block; margin: 0 .15rem; vertical-align: middle; }

.card-teaser .card-thumbs { position: absolute; top: .5rem; bottom: .5rem; left: 0; width: 20%; -ms-transform: translateX(-102%); transform: translateX(-102%); transition: all .25s ease-in-out; }
.card-teaser:hover .card-thumbs { -ms-transform: translateX(0%); transform: translateX(0%); transition: all .25s ease-in-out; }
.card-teaser .card-thumbs img { display: block; margin: 0 .5rem .7rem; border: 1px solid #5c5c5c; }
.card-teaser .card-thumbs img:hover { cursor: pointer; }
.card-teaser .card-thumbs .slick-current { border-color: #cb0c2e; }

@media (max-width: 1499px) {
	.card-teaser .card-title { margin-bottom: .25rem; font-size: 1rem; }
	.card-teaser .card-price { margin-bottom: .25rem; font-size: 1.25rem; }
	.card-teaser .card-old-price { font-size: 1rem; }
	.card-teaser .card-list { font-size: .75rem; }
	.card-teaser .card-thumbs { width: 22%; }
}

@media (max-width: 1199px) {
	.card-teaser .card-heart { font-size: 1.25rem; }
}

@media (max-width: 991px) {
	.card-teaser { box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); }
	.card-teaser:hover { box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); }


	.card-teaser .badge,
	.card-teaser .card-heart { right: .5rem; }
	.card-teaser .card-heart,
	.card-teaser .badge { top: .5rem; }
	.card-teaser .badge + .card-heart { top: 2rem;  }
	.card-teaser .badge { left: auto; }

	.card-teaser:hover .badge { visibility: visible; opacity: 1; }

	.card-teaser .card-body { padding: .75rem; }
	.card-teaser .card-price { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

	.card-teaser .card-thumbs { width: 20%; -ms-transform: translateX(0); transform: translateX(0); }
}

@media (max-width: 767px) {
	.card-teaser .badge { padding-top: 0; line-height: 15px; }
	
	.card-teaser .card-thumbs { width: 22%; }
}

/* ------------------------------------------------------------ *\
	Card
\* ------------------------------------------------------------ */

.card {  }

/* ------------------------------------------------------------ *\
	Cart
\* ------------------------------------------------------------ */

.cart-header { padding: 1.5rem 1.5rem; background-color: black; color: white; font-family: 'Roboto Condensed Bold', sans-serif; }
.cart-list-items { list-style-type: none; }
.cart-list-item { padding: 1.5rem 0; border-bottom: 1px solid #9b9d9f; }

.cart-list-item-title { font-family: 'Roboto Condensed Bold', sans-serif; font-size: 1.25rem; }
.cart-list-item-body { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; margin-top: 1.5rem; }
.cart-list-item-attribute p { margin-bottom: 0.5rem; }
.cart-list-item-attribute p:nth-child(2) { font-family: 'Roboto Condensed Bold', sans-serif; }
.cart-list-item-quantity p > span { font-size: 1.25rem; }

.cart-product-img { width: 100px; height: 100px; }

.cart-body { border: 1px solid #9b9d9f; padding-right: 2rem; }

.cart-order-info .cart-body { padding: 1.5rem; }
.cart-order-info-item,
.cart-order-info-total { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; font-size: 1.25rem; }

.cart-order-info-total { padding: 1rem 0; font-size: 1.5rem; border-top: 1px solid #9b9d9f; }

.cart-order-info-item p { margin-bottom: 0.5rem; }
.cart-order-info-item span,
.cart-order-info-total span { font-family: 'Roboto Condensed Bold', sans-serif; }

@media (max-width: 767px) {
	.cart-body { padding: 0 0.5rem; }
	.cart-list-item-body { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; margin-top: 0.75rem; margin-left: 0.5rem; }

	.cart-list-item-title { margin-left: 0.5rem; font-size: 1rem; }

	.cart-list-item .flex-center { -ms-flex-pack: end; justify-content: flex-end; }

	.cart-product-img { width: 50px; height: 75px; }

	.cart-list-item-quantity p > span { font-size: 1rem; }
}

/* ------------------------------------------------------------ *\
	Checkout
\* ------------------------------------------------------------ */

.checkout-header { padding: 1.5rem 1.5rem; background-color: black; color: white; font-family: 'Roboto Condensed Bold', sans-serif; }
.checkout-body { padding: 1rem; border: 1px solid #9b9d9f; background-color: white; }

/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

.js-custom-select { border-radius: 0; }

/*  Ui selectmenu outline design  */
.ui-selectmenu-button-outline.ui-button,
.ui-selectmenu-menu-outline .ui-menu-item-wrapper { font-family: 'Roboto Condensed Regular', sans-serif; font-size: 1.25rem; color: #5c5c5c; }
.ui-selectmenu-button-outline.ui-button { width: 12rem; padding: .5rem; border-radius: 0; background: none; }
.ui-selectmenu-button-outline.ui-button .ui-selectmenu-icon.ui-icon { margin-top: 4px; }

.ui-selectmenu-menu-outline .ui-menu { margin-top: -1px; padding-top: .25rem; border-radius: 0; }
.ui-selectmenu-menu-outline .ui-menu-item-wrapper { padding: .25rem .5rem; border: none; }
.ui-selectmenu-menu-outline .ui-state-focus,
.ui-selectmenu-menu-outline .ui-state-active { margin: 0; color: #cb0c2e; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active { border: 1px solid black; }


.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus { border: 1px solid black; }

@media (max-width: 1199px) {
	.ui-selectmenu-button-outline.ui-button,
	.ui-selectmenu-menu-outline .ui-menu-item-wrapper { font-size: 14px; line-height: 16px; }
}

/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form { font-family: 'Roboto Condensed Regular', sans-serif; }

.form-order label { margin-bottom: 0.25rem; }
.form-order input,
.form-order textarea { border: 1px solid #9b9d9f; }

.form-check { font-family: 'Roboto Condensed Bold', sans-serif; }

/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list-"] { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Modal
\* ------------------------------------------------------------ */

/*  Modal - product size tables  */
.modal-size .modal-dialog { max-width: 1000px; }
.modal-size .modal-dialog hr { margin-top: 2rem; margin-bottom: 2rem; }
.modal-size .modal-dialog .table { font-size: .9rem; text-align: center; }

@media (max-width: 575px) {
	.modal-size .modal-dialog .table td { padding: .25rem; }
}

/* ------------------------------------------------------------ *\
	Navbar
\* ------------------------------------------------------------ */

.navbar-brand,
.navbar { padding: 0; }

.navbar { -ms-flex-pack: end; justify-content: flex-end }
.navbar-brand { margin-right: auto; }

.navbar-nav .dropdown-toggle::after,
.navbar .nav .dropdown-toggle::after { display: none; }

/*  Main nav  */
.navbar-nav .nav-item + .nav-item:before { content: ''; position: absolute; top: 50%; width: 1px; height: 50%; border-left: 1px solid #5c5c5c; -ms-transform: translateY(-50%); transform: translateY(-50%); }
.navbar-nav .nav-link { font-family: 'Roboto Condensed Regular', sans-serif; font-size: 1.25rem; color: #5c5c5c; text-transform: uppercase; }
.navbar-nav .active .nav-link,
.navbar-nav .nav-item:hover .nav-link { color: #cb0c2e; }

.navbar-expand-lg .navbar-nav .nav-link { padding: 2.5rem 1.5rem; }

/*  Main nav dropdown */
.navbar-nav .dropdown-menu { right: 0; margin: 0; border: none; }
.navbar-nav .dropdown-menu.show { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); }
.navbar-nav .dropdown-item { -ms-flex: 0 0 calc(14.28% - .75rem); flex: 0 0 calc(14.28% - .75rem); width: auto; margin: .75rem 0 .75rem .75rem; padding: 0; font-family: 'Roboto Condensed Regular', sans-serif; text-align: center; text-transform: uppercase; white-space: normal; }
.navbar-nav .dropdown-item:hover { background: none; color: #cb0c2e; text-decoration: underline; }
.navbar-nav .dropdown-item p { margin: 1rem 0; }

/*  Right nav  */
.navbar .nav .nav-link { font-size: 1.25rem; line-height: 0; }

/*  Right nav - Favorite  */
.navbar .nav-link-fav { position: relative; }
.navbar .nav-link-fav .counter { position: absolute; top: -3px; right: -2px; width: 22px; height: 22px; background: #cb0c2e; border-radius: 50%; font-size: .75rem; color: white; line-height: 22px; text-align: center; }

/*  Right nav - Search  */
.navbar .form-inline { display: -ms-flexbox; display: flex; width: 300px; border-bottom: 1px solid #eaeaea; }
.navbar .form-inline .form-control { -ms-flex: 1 0 0; flex: 1 0 0; width: calc( 100% - 47px ); padding: 0 .5rem; border: none; font-size: 16px; }
.navbar .form-inline .btn { padding-top: .2rem; padding-bottom: .2rem; font-size: 1.25rem; }
.navbar .form-inline .btn:hover { color: #cb0c2e; }

/*  Right nav - Shopping cart  */
.navbar .dropdown-cart-wrapper { margin-left: 1rem; }
.navbar .btn-shopping-cart { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; height: 104px; }
.navbar .btn-shopping-cart:after { display: none; }
.navbar .btn-shopping-cart i { margin-right: 1rem; font-size: 1.25rem; }
.navbar .btn-shopping-cart-inner { text-align: left; }
.navbar .btn-shopping-cart-inner div { font-size: 1rem; }
.navbar .btn-shopping-cart-inner strong { font-family: 'Roboto Condensed Regular', sans-serif; font-size: 1.25rem; font-weight: normal; }

.navbar .dropdown-cart-menu { width: 20rem; margin-top: 0; padding-top: 1.5rem; padding-bottom: 1.5rem; }
.navbar .dropdown-cart-menu img { max-height: 150px; }
.navbar .dropdown-cart-menu .card { border: none; }
.navbar .dropdown-cart-menu .card-body { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; height: 100%; padding: 0 1rem; }
.navbar .dropdown-cart-menu .card-title { padding-right: 1.5rem; }
.navbar .dropdown-cart-menu .price { float: right; font-family: 'Roboto Condensed Regular', sans-serif; font-size: 1.25rem; }
.navbar .dropdown-cart-menu .close { position: absolute; top: -.4rem; right: 1rem; padding: 0; }
.navbar .dropdown-cart-menu .close span { font-size: 2rem; }

@media (min-width: 992px) {
	.navbar-nav .nav-item:hover .dropdown-menu { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); }
}

@media (min-width: 768px) {
	.navbar .dropdown-search { position: static; }
	.navbar .dropdown-search .nav-link { display: block; }
	.navbar .dropdown-search .nav-link[aria-expanded="true"] .fa-search:before { content: "\f00d"; color: #cb0c2e; }
	.navbar .dropdown-search .dropdown-menu { position: absolute; top: 100%; right: 0; left: 0; display: none; padding: .5rem; border: 1px solid #5c5c5c; }
	.navbar .dropdown-search .dropdown-menu.show { display: block; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); }
	.navbar .dropdown-search .form-inline { width: 100%; border-bottom: none; }
}

@media (max-width: 1199px) {
	.navbar-expand-lg .navbar-nav .nav-link { padding-right: 1rem; padding-left: 1rem; }

	.navbar .form-inline { width: 200px; }

	.navbar .btn-shopping-cart { height: 91px; }
	.navbar .btn-shopping-cart i { margin-right: .75rem; font-size: 1.5rem; }
	.navbar .btn-shopping-cart-inner strong { font-size: 1rem; }
}

@media (max-width: 991px) {
	/*  Brand  */
	.navbar-brand { width: 120px; }

	/*  Shopping Cart  */
	.navbar .btn-shopping-cart { height: 70px; }
	
	/*  Main nav  */
	.navbar-toggler { padding-right: 0; padding-left: 1rem; border: none; font-size: 2rem; color: #5c5c5c; }
	.navbar-toggler[aria-expanded="true"] .fa-bars:before { content: "\f00d"; color: #cb0c2e; }
	.navbar-toggler:focus { outline: none; }

	.navbar-collapse { position: absolute; top: 100%; right: 0; left: 0; z-index: 1999; background: white; border: 1px solid #5c5c5c; }
	.navbar-collapse .dropdown-menu.show { right: -1px; left: -1px; border: 1px solid #5c5c5c; border-top: none; }
	.navbar-nav { -ms-flex-direction: row; flex-direction: row; }

	.navbar-nav .nav-item + .nav-item:before { display: none; }
	.navbar-expand-lg .navbar-nav .nav-link { padding: 1rem; }

	.navbar-nav .dropdown-menu { position: absolute; }
	.navbar-nav .dropdown-menu.show { box-shadow: none; }
	.navbar-nav .dropdown-item { margin-top: 0; margin-bottom: 0; }

}

@media (max-width: 767px) {
	/*  Brand  */
	.navbar-brand { width: 85px; }
	
	/*  Search  */
	.navbar .dropdown-search { position: static; }
	.navbar .dropdown-search .nav-link { display: block; }
	.navbar .dropdown-search .nav-link[aria-expanded="true"] .fa-search:before { content: "\f00d"; color: #cb0c2e; }
	.navbar .dropdown-search .dropdown-menu { position: absolute; top: 100%; right: 0; left: 0; display: none; padding: .5rem; border: 1px solid #5c5c5c; }
	.navbar .dropdown-search .dropdown-menu.show { display: block; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); }
	.navbar .dropdown-search .form-inline { width: 100%; border-bottom: none; }

	/*  Favorite  */
	.navbar .nav-link-fav .counter { width: 18px; height: 18px; }

	/*  Shopping Cart  */
	.navbar .btn-shopping-cart { height: 55px; }
}

@media (max-width: 575px) {
	.navbar .nav .nav-link { padding: .75rem; }
	
	/*  Favorite  */
	.navbar .nav-link-fav .counter { width: 15px; height: 15px; font-size: .7rem; line-height: 15px; }

	/*  Shopping Cart  */
	.navbar .btn-shopping-cart { height: 45px; padding-right: .5rem; padding-left: .5rem; }
	.navbar .btn-shopping-cart i { font-size: 1.25rem; }
	.navbar .btn-shopping-cart-inner div { font-size: .75rem; }

	.navbar .dropdown-cart-menu { padding-top: .75rem; padding-bottom: .75rem; }
	.navbar .dropdown-cart-menu .card-title { font-size: 1rem; }

	/*  Main nav  */
	.navbar-nav .dropdown-item { -ms-flex: 0 0 calc(24% - .75rem); flex: 0 0 calc(24% - .75rem); }
}

@media (max-width: 374px) {
	.navbar .nav .nav-link { padding: .4rem; }

	.navbar .btn-shopping-cart { padding-right: .25rem; padding-left: .25rem; }
}

/* ------------------------------------------------------------ *\
	Pagination
\* ------------------------------------------------------------ */

.pagination-wrapper .page-item + .page-item { margin-left: .5rem; }
.pagination-wrapper .page-link { line-height: 1; }

/* ------------------------------------------------------------ *\
	Section Favorites
\* ------------------------------------------------------------ */

.section-favorites .card-body { padding: .5rem; }
.section-favorites .card-title,
.section-favorites .card-price { font-size: 1rem; }
.section-favorites .card-old-price,
.section-favorites .card-list { font-size: .75rem; }

.section-favorites .card-teaser .btn-danger { padding-bottom: 0; }

@media (max-width: 767px) {
	.section-favorites .section-head-top .btn-danger { margin-left: 0 !important; }
}

/* ------------------------------------------------------------ *\
	Section Teasers - contains .card-teasers
\* ------------------------------------------------------------ */

.section-teasers .section-head-top { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding-bottom: 1rem; margin-bottom: 1rem; border-bottom: 1px solid #eaeaea; }
.section-teasers .section-head-top .h3 { margin-bottom: 0; font-family: 'Roboto Condensed Regular', sans-serif; color: #5c5c5c; line-height: 1; }
.section-teasers .section-head-top small { font-family: 'Roboto Condensed Light', sans-serif; }

.section-teasers .section-head-bottom .btn { line-height: 1; }
.section-teasers .section-head-bottom .btn span { position: relative; top: 2px; display: inline-block; margin-top: -2px; margin-right: .25rem; font-size: 1.25rem; }

.section-teasers .section-bottom { display: -ms-flexbox; display: flex; padding-top: 2rem; border-top: 1px solid #eaeaea; }
.section-teasers .section-bottom nav { margin-left: auto; }

@media (max-width: 1199px) {
	.section-teasers .section-head-top .h3 { font-size: 1.25rem; }
}

@media (max-width: 767px) {
	.section-teasers .section-head-top { -ms-flex-wrap: wrap; flex-wrap: wrap; padding-bottom: 0; border-bottom: none; }
	.section-teasers .section-head-top .h3 { width: 100%; margin-bottom: 1rem; }
	.section-teasers .section-head-top .btn { width: calc(50% - 7px); height: 30px; padding-top: .1rem; }
	.section-teasers .section-head-top form { width: calc(50% - 7px); margin-left: 14px; }
	.section-teasers .section-head-top .ui-selectmenu-button-outline.ui-button { width: 100%; height: 30px; padding-top: 4px; font-size: 1rem; }
	.section-teasers .section-head-top .ui-selectmenu-icon.ui-icon { margin-top: 2px; }

	.section-teasers .section-head-bottom .btn span { margin-top: -6px; padding-bottom: .25rem; }
	
	.section-teasers .section-bottom { -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center }
	.section-teasers .section-bottom nav { margin-top: 1rem; margin-left: 0; }
}

@media (max-width: 575px) {
	.section-teasers .col-6:nth-child(even) { padding-left: 7px; }
	.section-teasers .col-6:nth-child(odd) { padding-right: 7px; }
}

/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section-head + .section-body,
.section-body + .section-bottom { margin-top: 2rem; }

.section-title { font-family: 'Roboto Condensed Regular', sans-serif; text-transform: uppercase; }

/*  Section New Collection  */
.section-new-collection { 
	background: rgb(0,135,190);
	background: linear-gradient(to right, rgba(0,135,190,1) 66%,rgba(255,255,255,1) 66%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0087be', endColorstr='#ffffff',GradientType=1 );
}

.section-new-collection-mt,
.section-new-collection-st { font-family: 'Roboto Condensed Regular', sans-serif; color: white; text-transform: uppercase; line-height: 1; }
.section-new-collection-mt { margin-top: 3rem; font-size: 13rem; }
.section-new-collection-st { margin-top: -2.25rem; font-size: 9rem; color: #01399a; text-align: right; }

.section-new-collection-img { margin: -2.75rem 0 -3rem -3.5rem; }

.section-new-collection-item { display: block; font-family: 'Roboto Condensed Regular', sans-serif; font-size: 1.5rem; color: white; text-align: center; text-transform: uppercase; }
.section-new-collection-title { display: inline-block; }
.section-new-collection-item:hover .section-new-collection-title { text-decoration: underline; }

/*  Section Bestsellers  */
.section-bestsellers { background-position: 0 2rem; background-repeat: no-repeat; }
.section-bestsellers .section-head { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }
.section-bestsellers .section-title { -ms-flex-preferred-size: 30%; flex-basis: 30%; text-align: right; padding: 2rem 0; padding-right: 3rem; background-color: #010101; color: white; }
.section-bestsellers .btn[class*="js-filter"] { padding: 0 1rem; min-width: 7rem; border-right: 1px solid black; font-size: 1.35rem; }

/* Category Page */
.section-head-top-title { font-family: 'Roboto Condensed Bold', sans-serif; font-size: 1.75rem; }
.section-head-filter-title { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; padding-bottom: 1.5rem; }
.section-teasers .section-head-top-title small { font-size: 1.25rem; }

/* Product Page */
.section-similar-products .section-title { border-bottom: 1px solid #9b9d9f; }

@media (max-width: 1199px) {
	.section-new-collection-mt { font-size: 10rem; }
	.section-new-collection-st { font-size: 6.92rem; }

	.section-new-collection-img { max-width: 76.92%; }
}

@media (max-width: 991px) {
	.section-new-collection-img { margin-left: 0; }

	.section-head-filter-title { display: none; }
}

@media (max-width: 767px) {
	.section-bestsellers .section-head { display: block; }
	.section-bestsellers .section-title { text-align: left; padding-left: 2rem; }
	.section-bestsellers .btn[class*="js-filter"] { width: calc(25% - .7rem); margin: .25rem; }

	.section-new-collection-mt { margin-top: 0; font-size: 4rem; }
	.section-new-collection-st { margin-top: -.75rem; font-size: 2.75rem; text-align: left; }

	.section-new-collection-img { max-width: 100%; }
	.section-new-collection .col-4 { padding: 2px; }
}

/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

.slider .slick-dots li button:before { font-size: .75rem; color: #5c5c5c; }
.slider .slick-dots li.slick-active button:before { color: #cb0c2e; }
.slider .slides { list-style: none outside none; }

/*  Slider 5 items  */
.slider-5-items > .slick-list > .slick-track > .slick-slide { margin: 0 .85rem 1.5rem; }

@media (max-width: 767px) {
	.slider-5-items > .slick-list > .slick-track > .slick-slide { margin-right: 1rem; margin-left: 1rem; }
}

@media (max-width: 575px) {
	.slider-5-items > .slick-list > .slick-track > .slick-slide { margin-right: .25rem; margin-left: .25rem; }
}

/* ------------------------------------------------------------ *\
	Subscribe
\* ------------------------------------------------------------ */

.subscribe { margin-top: 3rem; background: #292929; }
.subscribe .container { padding: 4rem 0; background-image: url(images/logo-transparent-white.png); background-repeat: no-repeat; background-position: 1rem center; }

.subscribe-form { max-width: 60%; margin: 0 auto; }
.subscribe-form .input-group-text,
.subscribe-form .form-control { background: none; color: #9b9d9f; }
.subscribe-form .input-group-text { padding-left: 0 !important; border: none; font-size: 1.25rem; line-height: 1; }
.subscribe-form .btn { border: 1px solid #ced4da; border-left: none; }

@media (max-width: 767px) {
	.subscribe-form { max-width: 90%; }
}

/* ------------------------------------------------------------ *\
	Table
\* ------------------------------------------------------------ */

.table {  }

/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */

.widgets { list-style: none outside none; }
